<<<<<<< HEAD
:root{
    --primary-text-color: #757575;
    --primary-title-color:#212121;
    --accent-color:#2196f3;
    --primary-white-color: #ffffff;
    --footer-background-color:#2f303a;
    --secondary-white-color: #f5f4fa;
=======
:root{
    --primary-text-color: #757575;
    --primary-title-color:#212121;
    --accent-color:#2196f3;
    --primary-white-color: #ffffff;
    --footer-background-color:#2f303a;
    --secondary-white-color: #f5f4fa;
>>>>>>> 953d9200c1c07023576dc2ff1ec08c580bac4e5d
    }